@using uyumsoft_ticaret_app.Models
@model List<uyumsoft_ticaret_app.Models.Category>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<div class="box">
    <div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside"><span>Kategoriler</span></div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">
                    @foreach (Category category in Model)
                    {
                        <div class="col-md-3 col-xs-6">
                            <div class="product">
                                <div class="product-cover">
                                    <span class="product-action">

                                    </span>
                                    <div class="product-cover-hover"><span><a href="/Home/ProductsByCategory/@category.id">Görüntüle</a></span></div>
                                    @if (category.Picture.MiddleImg != null)
                                    {
                                        <img src="@category.Picture.MiddleImg" alt="category name" />
                                    }

                                </div>
                                <div class="product-details">
                                    <h1><a href="/Home/ProductsByCategory/@category.id">@category.CategoryName</a></h1>

                                    
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</div>


